In [24]:
from pyvis.network import Network
net = Network('1000px', '1000px',notebook=True)

In [49]:
import json
import ast

with open('data/final_data/dict_together_actions.json') as json_file:
    dict_together_actions = json.load(json_file)

list_tuple_actions = []

for key in dict_together_actions:
    actions = ast.literal_eval(key)
    nb_examples = len(dict_together_actions[key])
    list_tuple_actions.append((actions[0], actions[1], nb_examples))
# list_tuple_actions

import pandas as pd
df = pd.DataFrame(list_tuple_actions, columns =['action1', 'action2', 'nb_examples'])
df

         action1      action2  nb_examples
0        wake up     work out           66
1        wake up     make bed           73
2        wake up     clean up           74
3        wake up  brush teeth           58
4        wake up  drink water           58
...          ...          ...          ...
2966   use stila    use liner            3
2967     use kit    use liner            3
2968   use bring   brush hair            3
2969   use shine   brush hair            3
2970  brush hair    use masks            3

[2971 rows x 3 columns]

In [50]:
sources = df['action1']
targets = df['action2']
weights = df['nb_examples']

net = Network(width='100%', bgcolor='#222222', font_color='white', notebook=True)

# set the physics layout of the network
net.barnes_hut()

edge_data = zip(sources, targets, weights)

for e in edge_data:
    src = e[0]
    dst = e[1]
    w = e[2]

    net.add_node(src, src, title=src)
    net.add_node(dst,dst, title=dst)
    net.add_edge(src, dst, width=1, value=w)
    
net.show_buttons(filter_=['physics'])
net.show('nx.html')